.content1{
    position: absolute;
    bottom: 400px;
}
.content{
    position: absolute;
    bottom: 200px;
}

.cardDiv{
    bottom: 225px;
    z-index: -10px;
}

.expreDIv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #CAC9C9;
    box-sizing: border-box;
    border-radius: 11px;
    width: 266px;
    height: 141px;
}

.teamDiv{
    bottom: 250px;
}

.memberDiv{
    width: 258px;
    height: 359px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 48px;
}